/* CSS du Projet 1
Site de la WebAgency */

* {
  box-sizing: border-box;
  margin: 0px;
}

.main {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

.body {
  width: 100%;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

H1 {
  text-align: center;
  font-size: 32px;
  width: 100%;
}

H2 {
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto-Bold', sans-serif;
}

p {
  text-align: center;
}

.logo {
  width: 50%;
  margin: 20px 15px 15px 145px;
}

.header {
  width: 100%;
}

.menuh {
  display: none;
}

/* texte sur image slider */
.textet {
  position: absolute;
  z-index: 4;
  width: 50%;
  left: 90px;
  margin-top: 100px;
}

.couleur {
  color: #5cacd2;
}

.textet .w3-button.w3-black {
  background: #5cadd3;
  color: white;
  text-align: center;
  top: 90px;
  width: 120px;
  left: 10px;
  height: auto;
  font-weight: bold;
  border-bottom: 2px solid #4494bb;
}

.textet .w3-button.w3-black:last-child {
  border-radius: 3px 3px 3px 3px;
}

.textet .w3-button.w3-black:hover:after {
  top: 100%;
  left: 50%;
  border-width: 0px;
}

.textet .w3-button.w3-black:hover {
  color: black;
  background-color: #4494bb;
}

 .slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.sliderimg {
    position: relative;
    width: 100%;
    height: 447px;
    white-space: nowrap;
    overflow: hidden;
}

.none {
    display: none;
}

.images {
    position: absolute;
    white-space: nowrap;
    width: 200%;
    transition: left 3s;
    transition-timing-function: ease-in;
}

#image1:target~.images {
    left: 0;
}

#image2:target~.images {
    left: -1300px;
}

#slider p {
  position: absolute;
  margin-top: 100px;
  font-size: 15px;
  color: white;
  text-align: left;
  margin-left: 70px;
}

#slider H1 {
  font-size: 40px;
  color: white;
  position: absolute;
  width: 100%;
  text-align: left;
  margin-left: 70px;
}

#slider strong {
  color: #5cabcf;
}

.fa-chevron-left {
  width: 25px;
  height: 40px;
  border-radius: 0 50px 50px 0;
  color: white;
}

.fa-chevron-right {
  width: 25px;
  height: 40px;
  border-radius: 50px 0 0 50px;
  color: white;
}

.chevron1 {
  position: absolute;
  left: 0px;
  top: 310px;
  font-size: 45px;
  z-index: 2;
  width: 50px;
  height: 90px;
  border-radius: 0 50px 50px 0;
  box-shadow: 0px 0px 15px #181c25;
  padding: 0.5em 0.2em;
  background-color: rgba( 48, 33, 29, 0.4 );
}

.chevron2 {
  position: absolute;
  right: 0px;
  top: 310px;
  font-size: 45px;
  z-index: 2;
  width: 50px;
  height: 90px;
  border-radius: 50px 0 0 50px;
  box-shadow: 0px 0px 15px #181c25;
  padding: 0.5em 0.5em;
  background-color: rgba( 48, 33, 29, 0.4 );
}

.services-image {
  width: 50%;
  text-align: center;
}

.services2 {
  width: 50%;
  text-align: left;
  margin-top: 70px;
}

.services2 p {
  text-align: left;
  text-indent: 0.1em;
}

.icon li {
  list-style-type: none;
}

/* icônes fontawesome pour la partie services */

ul.icon li.cubes:before {
  font-family: fontawesome;
  content: "\f1b3";
  color: #5CADD3;
  float: left;
  width: 1em;
  height: 1em;
  font-size: 35px;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.5em;
  text-indent: -0.1em;
}

ul.icon li.chart-pie:before {
  font-family: fontawesome;
  content: "\f200";
  color: #5CADD3;
  float: left;
  width: 1em;
  height: 1em;
  font-size: 35px;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.5em;
  text-indent: 0.1em;
}

#sec1 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
}

.section3 {
  display: flex;
  width: 100%;
}

#projets {
  width: 100%;
  background-color: #F5F5F5;
}

/* section logo et menu principal */
.menu {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* menu du portfolio */
.menu2 {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 0px;
}

.menu2 a {
  display: inline-block;
  background-color: #E5E5E5;
  color: black;
  text-decoration: none;
  text-align: center;
}

.menu2 a:hover {
  display: inline-block;
  background-color: #5CADD3;
  color: #ffffff;
  border-bottom-style: solid;
  border-bottom-color: #468CAD;
}

.design1 {
  display: flex;
}

.sigle {
  position: relative;
  display: block;
  padding-right: 20px;
  padding-top: 30px;
}

.sigle::after {
  width: 13px;
  height: 13px;
  position: absolute;
  border-radius: 100%;
  background-color: #5cadd3;
  content: '';
  border: 4px solid white;
  margin-top: 13px;
  margin-right: 0px;
  margin-left: -13px;
}

/* icone et point dans nos services */
.separator2 {
  width: 15px;
  height: 15px;
  position: relative;
  border-radius: 100%;
  margin-left: 50%;
  background-color: #5cadd3;
}

.separator2::before {
  font-family: fontawesome;
  content: '\f200';
  width: 70px;
  height: 3px;
  position: absolute;
  right: 25px;
  top: calc(50% - 1px);
  color: #5cadd3;
}

.separator2, .separator2::before {
  background-color: #5cadd3;
}

/* rond/trait sous les titres */
.rond-point {
  width: 15px;
  height: 15px;
  position: relative;
  margin-left: 50%;
}

.rond-point::before {
  content: '';
  width: 70px;
  height: 1px;
  position: absolute;
  right: 23px;
  margin-top: 15px;
  background-color: #e2e2e2;
}

.rond-point::after {
  content: '';
  width: 70px;
  height: 1px;
  position: absolute;
  left: 23px;
  top: calc(53% + 6px);
  background-color: #e2e2e2;
}

.titre1 {
  display: flex;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;
}

.rond {
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
}

.present {
  text-align: left;
  margin-left: 15px;
  margin-top: 25px;
  padding: 0;
}

/* navigation menu principal */
.nav {
  width: 50%;
  height: 45px;
  list-style: none;
  margin-top: 20px;
  right: 30px;
  border-top: 3px solid transparent;
}

.projet_menu {
  width: 100%;
}

/* navigation menu portfolio */
.projet_menu nav {
  width: 100%;
  margin: auto;
  text-align: center;
}

.portfolio {
  width: 100%;
  padding: 15px;
  margin: 20px;
  margin-top: 25px;
  margin-bottom: 20px;
  overflow: hidden;
}

.m-portfolio {
  margin: -4px;
}

.column {
  padding: 5px;
  float: left;
  width: 25%;
}

.column p {
  text-align: left;
}

.presentation {
  display: flex;
}

.texte {
  width: 75%;
  display: block;
  text-align: left;
  margin: 20px;
  padding-top: 10px;
}

.icone1 {
  display: block;
  text-align: right;
  padding-bottom: 40px;
  margin-top: -18px;
  margin-left: 10px;
  margin-right: 15px;
}

/* images du portfolio */
.figure {
  width: 100%;
  padding: 10px;
  margin: 10px;
  width: 25%;
}

.nav ul li {
  float: left;
  font-size: 16px;
  margin-top: 20px;
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
}

.nav a:link {
  text-decoration: none;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}

.nav a:hover, a:active {
  border-top: 3px solid #5CADD3;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.3s;
  border-top: 3px solid #5CADD3;
}

ul.icon li {
  text-indent: -1.4em;
  padding: 20px;
}

figure {
  width: 100%;
  position: relative;
}

figcaption {
  opacity: 0;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

figure:hover figcaption {
  height: 40%;
  color: white;
  transition: all 1s;
  opacity: 1;
  padding: 0px;
  margin: 0px;
  background-color: rgba(1, 1, 1, 0.5);
  margin-bottom: 4px;
}

.figcaption p {
  text-align: left;
}

.fa-circle {
  position: relative;
  text-align: center;
}

.rond-point .fa-circle {
  color: #5cadd3;
  border-radius: 50px;
  padding: 0.5em 0.5em;
  width: 2em;
  height: 2em;
  background-color: white;
  margin-left: -9px;
}

.design1 .fa-circle {
  text-align: center;
  font-family: fontawesome;
  color: #5CADD3;
}

.design1 .fa-chart-pie {
  color: #5CADD3;
  float: left;
  width: 2em;
  height: 2em;
  font-size: 25px;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.5em;
}

.design1 .fa-chart-line {
  color: #5CADD3;
  float: left;
  width: 2em;
  height: 2em;
  font-size: 25px;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.5em;
}

.design1 .fa-cubes {
  color: #5CADD3;
  float: left;
  width: 2em;
  height: 2em;
  font-size: 25px;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.5em;
}

.fa-eye {
  text-align: right;
  padding-bottom: 30px;
  width: 36px;
  height: 36px;
}

.portfolio .fas {
  color: white;
  background-color: #448FB1;
  border: 2px solid white;
  border-radius: 60px;
  box-shadow: 0px 0px 2px white;
  padding: 0.5em 0.4em;
  padding-left: 0px;
}

.carte {
  width: 100%;
  margin: 0px;
  position: relative;
  border: none;
}

.plan {
  position: absolute;
  overflow: hidden;
}

.plan::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(25, 121, 229, 0.3);
  pointer-events: none;
}

.iframe {
  pointer-events: initial;
}


.form {
  position: absolute;
  padding: 15px;
  margin-left: 60%;
  margin-top: 75px;
  padding-top: 20px;
  background-color: rgba( 242, 243, 251, 0.9);
  width: 30%;
  height: 520px;
  border-radius: 5px;
}

input, textarea {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top;
}

button {
  width: 100px;
  background-color: #5cadd3;
  color: white;
  border-radius: 3px;
  border: none;
  border-bottom-style: solid;
  border-bottom-color: #4494bb;
}

#formulaire {
  width: 180px;
  padding: 10px;
}

strong {
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

.form p {
  margin: 0px;
  padding: 0px;
  color: #64686d;
}

fieldset {
  width: 70%;
  margin: 0px;
  padding: 0px;
  border: none;
}

legend {
  margin: 0px;
  padding: 0px;
  text-align: left;
}

fieldset p {
  margin: 0px;
  padding: 0px;
  text-align: left;
}

hr {
  display: block;
  width: 10%;
  color: #F7F7F7;
}

.projets1 {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.services1 {
  margin-bottom: 0px;
  margin-top: 10px;
}

.menu2 button {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.w3-button.w3-black {
  position: relative;
  background: #e5e5e5;
  color: black;
  text-decoration: none;
  width: 100px;
  height: auto;
  padding: 15px;
  text-align: center;
  margin-left: -4px;
  border-bottom: 3px solid #f5f5f5;
}

.w3-button.w3-black:first-child {
  border-radius: 3px 0 0 3px;
}

.w3-button.w3-black:last-child {
  border-radius: 0 3px 3px 0;
}

.w3-button.w3-black:hover:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-color: rgba(92, 173, 211, 0);
  border-top-color: #468cad;
  border-width: 10px;
  margin-left: -10px;
}

/* menu hamburger */
a {
  color: #000;
  text-decoration: none;
}

nav {
    background: #3491b2;
    left: 0;
    position: fixed;
    height: 300px;
    top: 0;
    left: -395px;
    width: 400px;
    z-index: 999;
    transition: left 0.75s;
    box-shadow: 3px 0 10px rgba(0,0,0,0.2);
}

#nav-left ul {
    list-style-type: none;
    padding: 0;
}

#nav-left ul li a {
    color: #ecf0f1;
    display: block;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 20px;
    outline: none;
    text-decoration: none;
    text-align: center;
}

#wrapper {
    margin: 0 auto;
    padding: 0 5px;
    position: relative;
    width: 950px;
}

#menu-left:not(target) {
    cursor: pointer;
    position: absolute;
    right: 1%;
    top: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 25px;
    line-height: 25px;
}

#nav-left:target {
    left: 0;
    transition: left 0.75s;
}

.open-menu,
#nav-left:target ~ * .close-menu {
  display: block;
}

.close-menu,
#nav-left:target ~ * .open-menu {
  display: none;
}
/* fin menu hamburger */





/* mediaqueries et taille d'écran
Smartphones < 480 px

Tablettes (768 px - 991 px)

Ordinateurs (992 px - 1199 px)
*/

/* media queries responsive pour les smartphones */
@media screen and (max-width:480px) {
  * {
    box-sizing: border-box;
    margin: 0px;
  }

  .main {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
  }

  .body {
    width: 100%;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
  }

  .menuh {
    display: contents;
  }

  .chevron1 {
    display: none;
  }

  .chevron2 {
    display: none;
  }

  /* menu hamburger */
  a {
  	color: #000;
  	text-decoration: none;
  }

  nav {
      background: #3491b2;
      left: 0;
      position: fixed;
      height: 100%;
      top: 0;
      left: -395px;
      width: 400px;
      z-index: 999;
      transition: left 0.75s;
      box-shadow: 3px 0 10px rgba(0,0,0,0.2);
  }

  #nav-left ul {
      list-style-type: none;
      padding: 0;
  }

  #nav-left ul li a {
      color: #ecf0f1;
      display: block;
      font-size: 2em;
      line-height: 1em;
      margin-bottom: 20px;
      outline: none;
      text-decoration: none;
      text-align: center;
  }

  #wrapper {
      margin: 0 auto;
      padding: 0 5px;
      position: relative;
      width: 950px;
  }

  #menu-left:not(target) {
      cursor: pointer;
      position: absolute;
      right: 1%;
      top: 0;
      -webkit-user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -ms-user-select: none;
      user-select: none;

      font-size: 28px;
      line-height: 28px;
  }

  #nav-left:target {
      left: 0;
      transition: left 0.75s;
  }

  .open-menu,
  #nav-left:target ~ * .close-menu {
  	display: block;
  }

  .close-menu,
  #nav-left:target ~ * .open-menu {
  	display: none;
  }
/* fin menu hamburger */

  .sec1 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .logo {
    width: 100%;
    margin: auto;
  }

  .nav {
    display: none;
  }

  #slider {
    display: none;
  }

  .section3 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .services-image {
    width: 100%;
    margin: 0px;
  }

  .services-image img {
    width: 90%;
    height: auto;
  }

  .services2 {
    width: 100%;
    text-align: center;
    margin-top: 70px;
    margin: 20px;
  }

  .menu2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu2 button {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }

  .w3-button.w3-black {
    position: relative;
    background: #e5e5e5;
    color: black;
    text-decoration: none;
    width: 100px;
    height: auto;
    padding: 15px;
    text-align: center;
    margin-left: -4px;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 20px;
  }

  .w3-button.w3-black:first-child {
    border-radius: 3px 3px 3px 3px;
  }

  .w3-button.w3-black:last-child {
    border-radius: 3px 3px 3px 3px;
  }

  .w3-button.w3-black:hover:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: rgba(92, 173, 211, 0);
    border-top-color: #468cad;
    border-width: 10px;
    margin-left: -10px;
  }

  .plan {
    position: relative;
    padding-bottom: 75%;
    overflow: hidden;
  }

  .plan iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .form {
    width: 100%;
    margin: 0px;
    padding: 10px;
  }

  .carte {
    width: 80%;
    height: auto;
  }

  .column {
    width: 100%;
  }

  .portfolio {
    display: flex;
    flex-direction: column;
    height: 750px;
  }

  .menu2 {
    width: 100%;
    margin: auto;
  }

}

/* media queries responsive pour les tablettes */
@media screen and (min-width:480px) and (max-width:991px) {
  * {
    box-sizing: border-box;
    margin: 0px;
  }

  .main {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
  }

  .body {
    width: 100%;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
  }

  .sec1 {
    width: 25%;
  }

.textet {
  width: 80%;
}

  .nav {
    width: 75%;
  }

  .section3 {
    display: flex;
    flex-direction: column;
  }

  .services-image {
    width: 100%;
    margin: 0px;
  }

  .services2 {
    width: 100%;
    text-align: center;
    margin: 30px;
  }

  .portfolio img {
    width: 50%;
  }

  .column {
    width: 50%;
  }

  .carte {
    width: 100%;
    margin: 0px;
    position: relative;
    border: none;
  }

  .plan {
    position: absolute;
    overflow: hidden;
  }

  .plan::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(25, 121, 229, 0.3);
    pointer-events: none;
  }

  .iframe {
    pointer-events: initial;
  }

  .form {
    position: absolute;
    padding: 15px;
    margin-left: 45%;
    margin-top: 75px;
    padding-top: 20px;
    background-color: rgba( 242, 243, 251, 0.9);
    width: 45%;
    height: 560px;
    border-radius: 5px;
  }
}
