/* CSS du Projet 1
Site de la WebAgency */

* {
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

.main {
  width: 100%;
  margin: 0px;
}

.body {
  width: 100%;
  margin: 0px;
}

H1 {
  text-align: center;
  font-size: 32px;
  width: 100%;
}

H2 {
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto-Bold', sans-serif;
}

p {
  text-align: center;
}

.logo {
  width: 50%;
  margin: 20px 15px 15px 145px;
}

.logo img:hover {
  border-radius: 25px;
  box-shadow: 5px 5px 10px #181c25;
}

.header {
  width: 100%;
}

.menuh {
  display: none;
}

/* texte sur image slider */
.textet {
  position: absolute;
  z-index: 4;
  width: 50%;
  left: 90px;
  margin-top: 100px;
}

.couleur {
  color: #5cacd2;
}

.textet .w3-button.w3-black {
  background: #5cadd3;
  color: white;
  text-align: center;
  top: 35px;
  width: 120px;
  left: 5px;
  height: auto;
  font-weight: bold;
  border-bottom: 2px solid #4494bb;
}

.textet .w3-button.w3-black:last-child {
  border-radius: 3px 3px 3px 3px;
}

.textet .w3-button.w3-black:hover:after {
  top: 100%;
  left: 50%;
  border-width: 0px;
}

.textet .w3-button.w3-black:hover {
  color: black;
  background-color: #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  -moz-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.target {
  display: none;
}

#slider-holder {
  width: 100%;
  height: auto;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 85px;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.image-holder {
  background-color: white;
  height: auto;
  clear: both;
  position: relative;
}

.slider-image {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
}

#slider-holder .img {
  max-width: 100%;
  height: auto;
}

#slider-image-1 {
  display: none;
}

#slider-image-2 {
  display: none;
}

#slider-image-1:target~.image-holder {
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s;
  left: 0%;
}

#slider-image-2:target~.image-holder {
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s;
  left: -100%;
}

div#slider-holder figure {
  background-color: white;
  height: auto;
  clear: both;
  position: relative;
  width: 200%;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: left;
}

div#slider-holder figure img {
  width: 50%;
  height: auto;
  float: left;
}

#slider-holder p {
  position: relative;
  margin-top: 20px;
  font-size: 15px;
  color: white;
  text-align: left;
  margin-left: 70px;
}

#slider-holder H1 {
  font-size: 40px;
  color: white;
  position: relative;
  width: 100%;
  text-align: left;
  margin-left: 70px;
}

#slider-holder strong {
  color: #5cabcf;
}

.fa-chevron-left {
  width: 25px;
  height: 40px;
  border-radius: 0 50px 50px 0;
  color: white;
  -moz-transition-property: color;
  -moz-transition-duration: 0.3s;
  -webkit-transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-property: color;
  transition-duration: 0.3s;
}

.fa-chevron-left:hover {
  color: #5cadd3;
}

.fa-chevron-right {
  width: 25px;
  height: 40px;
  border-radius: 50px 0 0 50px;
  color: white;
  -moz-transition-property: color;
  -moz-transition-duration: 0.3s;
  -webkit-transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-property: color;
  transition-duration: 0.3s;
}

.fa-chevron-right:hover {
  color: #5cadd3;
}

.chevron1 {
  position: absolute;
  left: 0px;
  top: 40%;
  font-size: 45px;
  z-index: 2;
  width: 50px;
  height: 90px;
  border-radius: 0 50px 50px 0;
  box-shadow: 0px 0px 15px #181c25;
  padding: 0.5em 0.5em 0.5em 0em;
  background-color: rgba( 48, 33, 29, 0.4);
}

.chevron2 {
  position: absolute;
  right: 0px;
  top: 40%;
  font-size: 45px;
  z-index: 2;
  width: 50px;
  height: 90px;
  border-radius: 50px 0 0 50px;
  box-shadow: 0px 0px 15px #181c25;
  padding: 0.5em 0.5em;
  background-color: rgba( 48, 33, 29, 0.4);
}

.services-image {
  width: 50%;
  text-align: center;
}

.services2 {
  width: 50%;
  text-align: left;
  margin-top: 70px;
  margin-right: 15px;
}

.services2 p {
  text-align: left;
  text-indent: 0.1em;
}

.icon li {
  list-style-type: none;
}

/* icônes fontawesome pour la partie
services */
ul.icon li.cubes:before {
  font-family: fontawesome;
  content: "\f1b3";
  color: #5CADD3;
  float: left;
  width: 1em;
  height: 1em;
  font-size: 35px;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.5em;
  text-indent: -0.1em;
}

ul.icon li.chart-pie:before {
  font-family: fontawesome;
  content: "\f200";
  color: #5CADD3;
  float: left;
  width: 1em;
  height: 1em;
  font-size: 35px;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.5em;
  text-indent: 0.1em;
}

#sec1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 35px;
}

.section3 {
  display: flex;
  width: 100%;
}

#projets {
  width: 100%;
  background-color: #F5F5F5;
  padding-top: 55px;
}

/* section logo et menu principal */
#menu {
  width: 100%;
  height: 85px;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: white;
}

/* menu du portfolio */
.menu2 {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 0px;
}

.menu2 a {
  display: inline-block;
  background-color: #E5E5E5;
  color: black;
  text-decoration: none;
  text-align: center;
}

.menu2 a:hover {
  display: inline-block;
  background-color: #5CADD3;
  color: #ffffff;
  border-bottom-style: solid;
  border-bottom-color: #468CAD;
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
}

.design1 {
  display: flex;
}

.sigle {
  position: relative;
  display: block;
  padding-right: 20px;
  padding-top: 30px;
}

.sigle::after {
  width: 13px;
  height: 13px;
  position: absolute;
  border-radius: 100%;
  background-color: #5cadd3;
  content: '';
  border: 4px solid white;
  margin-top: 13px;
  margin-right: 0px;
  margin-left: -13px;
}

/* icone et point dans nos services */
.separator2 {
  width: 15px;
  height: 15px;
  position: relative;
  border-radius: 100%;
  margin-left: 50%;
  background-color: #5cadd3;
}

.separator2::before {
  font-family: fontawesome;
  content: '\f200';
  width: 70px;
  height: 3px;
  position: absolute;
  right: 25px;
  top: calc(50% - 1px);
  color: #5cadd3;
}

.separator2, .separator2::before {
  background-color: #5cadd3;
}

/* rond/trait sous les titres */
.rond-point {
  width: 15px;
  height: 15px;
  position: relative;
  margin-left: 50%;
}

.rond-point::before {
  content: '';
  width: 70px;
  height: 1px;
  position: absolute;
  right: 23px;
  margin-top: 15px;
  background-color: #e2e2e2;
}

.rond-point::after {
  content: '';
  width: 70px;
  height: 1px;
  position: absolute;
  left: 23px;
  top: calc(53% + 6px);
  background-color: #e2e2e2;
}

.titre1 {
  display: flex;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;
}

.rond {
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
}

.present {
  text-align: left;
  margin-left: 15px;
  margin-top: 25px;
  padding: 0;
}

/* navigation menu principal */
.nav {
  width: 50%;
  height: 45px;
  list-style: none;
  margin-top: 20px;
  right: 0;
  left: 5px;
}

.projet_menu {
  width: 100%;
}

/* navigation menu portfolio */
.projet_menu nav {
  width: 100%;
  margin: auto;
  text-align: center;
}

.portfolio {
  width: 100%;
  padding: 15px;
  margin-top: 25px;
  margin-bottom: 20px;
  overflow: hidden;
}

.m-portfolio {
  margin: -4px;
}

.column {
  padding: 5px;
  float: left;
  width: 25%;
}

.column p {
  text-align: left;
}

.presentation {
  display: flex;
}

.texte {
  width: 75%;
  display: block;
  text-align: left;
  margin: 20px;
  padding-top: 10px;
}

.icone1 {
  display: block;
  text-align: right;
  padding-bottom: 40px;
  margin-top: -18px;
  margin-left: 10px;
  margin-right: 15px;
}

/* images du portfolio */
.figure {
  width: 100%;
  padding: 10px;
  margin: 10px;
  width: 25%;
}

.nav ul li {
  float: left;
  font-size: 16px;
  margin-top: 20px;
  list-style: none;
  padding-left: 5px;
  padding-right: 5px;
}

.nav a:link {
  text-decoration: none;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}

.nav a:hover, a:active {
  border-top: 3px solid #5CADD3;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
}

ul.icon li {
  text-indent: -1.4em;
  padding: 20px;
}

figure {
  width: 100%;
  position: relative;
}

figcaption {
  opacity: 0;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

figure:hover figcaption {
  height: 40%;
  color: white;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 1;
  padding: 0px;
  margin: 0px;
  background-color: rgba(1, 1, 1, 0.5);
  margin-bottom: 4px;
}

.figcaption p {
  text-align: left;
}

.fa-circle {
  position: relative;
  text-align: center;
}

.rond-point .fa-circle {
  color: #5cadd3;
  border-radius: 50px;
  padding: 0.5em 0.5em;
  width: 2em;
  height: 2em;
  background-color: white;
  margin-left: -9px;
  -moz-transition-property: all;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}

.rond-point .fa-circle:hover {
  background-color: #e5e5e5;
  transform: scale(1.3);
}

.design1 .fa-circle {
  text-align: center;
  font-family: fontawesome;
  color: #5CADD3;
}

.design1 .fa-chart-pie {
  color: #5CADD3;
  float: left;
  width: 2em;
  height: 2em;
  font-size: 25px;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.5em;
}

.design1 .fa-chart-line {
  color: #5CADD3;
  float: left;
  width: 2em;
  height: 2em;
  font-size: 25px;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.5em;
}

.design1 .fa-cubes {
  color: #5CADD3;
  float: left;
  width: 2em;
  height: 2em;
  font-size: 25px;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.5em;
}

.fa-eye {
  text-align: right;
  padding-bottom: 30px;
  width: 36px;
  height: 36px;
}

.portfolio .fas {
  color: white;
  background-color: #448FB1;
  border: 2px solid white;
  border-radius: 60px;
  box-shadow: 0px 0px 2px white;
  padding: 0.5em 0.4em;
  padding-left: 0px;
}

#carte {
  width: 100%;
  height: 650px;
  margin: 0px;
  position: relative;
  border: none;
  padding-top: 70px;
}

.plan {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: absolute;
  width: 100%;
  height: auto;
}

.iframe {
  pointer-events: initial;
}

.plan iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.plan::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(25, 121, 229, 0.3);
  pointer-events: none;
}

.form {
  padding: 15px;
  margin-left: 60%;
  position: absolute;
  margin-top: 90px;
  background-color: rgba( 242, 243, 251, 0.9);
  width: 30%;
  height: 520px;
  border-radius: 5px;
}

input, textarea {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top;
}

button {
  width: 100px;
  background-color: #5cadd3;
  color: white;
  border-radius: 3px;
  border: none;
  border-bottom-style: solid;
  border-bottom-color: #4494bb;
  cursor: pointer;
}

#formulaire:hover {
  color: black;
  background-color: #e5e5e5;
  border-bottom-color: #e5e5e5;
}

#formulaire {
  width: 180px;
  padding: 10px;
}

strong {
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

.form p {
  margin: 0px;
  padding: 0px;
  color: #64686d;
}

fieldset {
  width: 70%;
  margin: 0px;
  padding: 0px;
  border: none;
}

legend {
  margin: 0px;
  padding: 0px;
  text-align: left;
}

fieldset p {
  margin: 0px;
  padding: 0px;
  text-align: left;
}

.projets1 {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
  padding-top: 10px;
}

#services {
  padding-top: 75px;
  margin-top: 70px;
}

.services1 {
  margin-bottom: 0px;
  margin-top: 10px;
}

.menu2 button {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.w3-button.w3-black {
  position: relative;
  background: #e5e5e5;
  color: black;
  text-decoration: none;
  width: 110px;
  height: auto;
  padding: 15px;
  text-align: center;
  margin-left: -4px;
  border-bottom: 3px solid #f5f5f5;
}

.w3-button.w3-black:first-child {
  border-radius: 3px 0 0 3px;
}

.w3-button.w3-black:last-child {
  border-radius: 0 3px 3px 0;
}

.w3-button.w3-black:hover:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-color: rgba(92, 173, 211, 0);
  border-top-color: #468cad;
  border-width: 10px;
  margin-left: -10px;
}

/* mediaqueries et taille d'écran
Smartphones < 480 px

Tablettes (768 px - 991 px)

Ordinateurs (992 px - 1199 px)
*/

@media screen and (max-width:550px) {
/* enlève le slider si on descend
sous 550px */

#slider-holder figure {
  visibility: hidden;
  }

  #slider-holder p {
    visibility: hidden;
  }

  #slider-holder {
    width: 100%;
    height: auto;
    background-color: white;
    left: -90px;
    top: -40px;
  }

  #slider-holder H1 {
    font-size: 20px;
    color: #5cacd2;
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: -100px;
  }

  .chevron1 {
    display: none;
  }
  .chevron2 {
    display: none;
  }

}

@media screen and (max-width:650px) {
  /* menu hamburger */
  a {
    color: #000;
    text-decoration: none;
  }
  nav {
    background: #3491b2;
    left: 0;
    position: fixed;
    height: 220px;
    top: 0;
    left: -395px;
    width: 310px;
    z-index: 999;
    -moz-transition: left 0.75s;
    -webkit-transition: left 0.75s;
    transition: left 0.75s;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.2);
  }
  #nav-left ul {
    list-style-type: none;
    padding: 0;
  }
  #nav-left ul li a {
    color: #ecf0f1;
    display: block;
    font-size: 1.5em;
    line-height: 1em;
    margin-bottom: 20px;
    outline: none;
    text-decoration: none;
    text-align: center;
  }
  #wrapper {
    margin: 0 auto;
    padding: 0 5px;
    position: relative;
    width: 930px;
  }
  #menu-left:not(target) {
    cursor: pointer;
    position: absolute;
    right: 1%;
    top: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 28px;
    line-height: 28px;
  }
  #nav-left:target {
    left: 0;
    -moz-transition: left 0.75s;
    -webkit-transition: left 0.75s;
    transition: left 0.75s;
  }
  .open-menu, #nav-left:target~* .close-menu {
    display: block;
  }
  .close-menu, #nav-left:target~* .open-menu {
    display: none;
  }
  /* fin menu hamburger */

}

/* media queries responsive pour
les smartphones */
@media screen and (max-width:480px) {
  * {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
  }
  .main {
    width: 100%;
    margin: 0px;
  }
  .body {
    width: 100%;
    margin: 0px;
  }
  .menuh {
    display: contents;
    width: 50%;
  }

  #sec1 {
    width: 100%;
    margin-bottom: 30px;
  }

  #menu {
    position: relative;
  }

  .logo {
    width: 40%;
    margin: 0;
  }
  .nav {
    display: none;
  }

  .logo img {
    margin: 0;
    transform: scale(0.4, 0.4);
    -moz-transform: scale(0.4, 0.4);
    -webkit-transform: scale(0.4, 0.4);
  }

  .section3 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .services-image {
    width: 100%;
    margin: 0;
  }
  .services-image img {
    width: 90%;
    height: auto;
  }
  .services2 {
    width: 90%;
    text-align: center;
    margin-top: 70px;
    margin: 10%;
  }
  .menu2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
  }

  .menu2 button {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }
  .w3-button.w3-black {
    position: relative;
    background: #e5e5e5;
    color: black;
    text-decoration: none;
    width: 110px;
    height: auto;
    padding: 15px;
    text-align: center;
    margin-left: -4px;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 20px;
  }
  .w3-button.w3-black:first-child {
    border-radius: 3px 3px 3px 3px;
  }
  .w3-button.w3-black:last-child {
    border-radius: 3px 3px 3px 3px;
  }
  .w3-button.w3-black:hover:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: rgba(92, 173, 211, 0);
    border-top-color: #468cad;
    border-width: 10px;
    margin-left: -10px;
  }
  .plan {
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 75%;
    overflow: hidden;
  }
  .plan iframe {
    position: absolute;
    top: 0;
    left: 0;
  }
  .form {
    width: 100%;
    height: 480px;
    margin: 0;
    padding: 10px;
  }
  .carte {
    width: 90%;
    height: auto;
  }
  .column {
    width: 100%;
  }
  .portfolio {
    display: flex;
    flex-direction: column;
    height: initial;
  }

}

/* media queries responsive pour
les tablettes */
@media screen and (min-width:480px) and (max-width:991px) {
  * {
    box-sizing: border-box;
    margin: 0px;
  }
  .main {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
  }
  .body {
    width: 100%;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
  }
  #sec1 {
    width: 100%;
    display: flex;
  }

  .nav {
    width: 65%;
  }
  .logo {
    width: 25%;
    margin-left: 20px;
  }
  .logo img {
    margin: 0;
    transform: scale(0.6, 0.6);
    -moz-transform: scale(0.6, 0.6);
    -webkit-transform: scale(0.6, 0.6);
  }
  .section3 {
    display: flex;
    flex-direction: column;
  }
  #slider-holder H1 {
    font-size: 30px;
    color: white;
    position: absolute;
    width: 100%;
    text-align: left;
    margin-left: 60px;
  }
  #slider-holder p {
    position: absolute;
    margin-top: 80px;
    font-size: 15px;
    color: white;
    text-align: left;
    margin-left: 60px;
  }
  .textet {
    width: 80%;
    left: 40px;
    margin-top: 35px;
  }
  .textet .w3-button.w3-black {
    background: #5cadd3;
    color: white;
    text-align: center;
    top: 50px;
    width: 120px;
    left: 10px;
    height: auto;
    font-weight: bold;
    border-bottom: 2px solid #4494bb;
  }
  .chevron1 {
    position: absolute;
    left: 0px;
    top: 45%;
    font-size: 35px;
    z-index: 2;
    width: 35px;
    height: 70px;
    border-radius: 0 50px 50px 0;
    box-shadow: 0px 0px 15px #181c25;
    padding: 0.5em 0.1em;
    background-color: rgba( 48, 33, 29, 0.4);
  }

  .chevron2 {
    position: absolute;
    right: 0px;
    top: 45%;
    font-size: 35px;
    z-index: 2;
    width: 35px;
    height: 70px;
    border-radius: 50px 0 0 50px;
    box-shadow: 0px 0px 15px #181c25;
    padding: 0.5em 0.3em;
    background-color: rgba( 48, 33, 29, 0.4);
  }
  .services-image {
    width: 100%;
    margin: 0px;
  }
  .services2 {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 0;
  }
  .present {
    width: 100%;
    padding-left: 15px;
  }
  .portfolio img {
    width: 50%;
  }
  .column {
    width: 50%;
  }
  .carte {
    width: 100%;
    height: auto;
    margin: 0px;
    position: relative;
    border: none;
  }
  .plan {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 630px;
  }
  .plan::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(25, 121, 229, 0.3);
    pointer-events: none;
  }
  .iframe {
    pointer-events: initial;
  }
  .form {
    position: absolute;
    padding: 15px;
    margin: 25%;
    margin-top: 25px;
    padding-top: 20px;
    background-color: rgba( 242, 243, 251, 0.9);
    width: 50%;
    height: auto;
    border-radius: 5px;
  }
}
